.shadow{
    position: absolute;
    left: -14px;
    top: -20px;
    z-index: 10;
}

.light{
    position: absolute;
    left: -25px;
    top: -20px;
    z-index: 8;
}

.islands{
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: 9;
}

.image{
    margin-right: 71px;
    margin-top: -14px;
}

.card{
    margin-left: 58.1vw;
    margin-top: 160px;
}

.lamp{
    position: absolute;
    background: url('../../../../../images/Card3Images/lamp.png'), 50% / cover no-repeat;
    width: 72px;
    height: 79px;
    left: 62px;
    top: 6px;
    z-index: 10;
}

.keyboard{
    position: absolute;
    background: url('../../../../../images/Card3Images/keyboard.png'), 50% / cover no-repeat;
    width: 126px;
    height: 110px;
    left: 131px;
    top: 69px;
    z-index: 10;
}

.gear{
    position: absolute;
    background: url('../../../../../images/Card3Images/gear.png'), 50% / cover no-repeat;
    width: 113px;
    height: 103px;
    left: 23px;
    top: 141px;
    z-index: 10;
}

.stop{
    position: absolute;
    background: url('../../../../../images/Card3Images/stop.png'), 50% / cover no-repeat;
    width: 68px;
    height: 69px;
    left: 139px;
    top: 137px;
    z-index: 10;
}

.button{
    background: #FB2B0F;
}

.button:hover{
    background: #fb520f;
    cursor: pointer;
}

@media (max-width: 1600px){
    .card{
        margin-left: 48.1vw;
        margin-top: 160px;
    }
    .image{
        margin-right: 47px;
        margin-top: -15px;
    }
}

@media (max-width: 1300px){
    .card{
        margin-left: 40.1vw;
        margin-top: 130px;
    }
    .image{
        margin-right: 36px;
        margin-top: -14px;
    }
}

@media (max-width: 1024px){
    .card{
        margin-left: calc(58.1vw - 269px);
        margin-top: 100px;
    }
    .image{
        margin-right: 36px;
        margin-top: -14px;
    }
}

@media (max-width: 768px){
    .card{
        margin-left: 7vw;
    }
    .image{
        margin-right: 34px;
        margin-top: -35px;
    }
}

@media (max-width: 645px){
    .card{
        margin-left: -46px;
    }
    .image{
        margin-right: -35px;
        margin-top: -44px;
    }
}

@media (max-width: 425px){
    .card{
        margin-left: -63px;
        margin-top: 25px;
    }
    .image{
        margin-right: -43px;
        margin-top: -50px;
    }
}

@media (max-width: 375px){
    .card{
        margin-left: -73px;
        margin-top: 31px;
    }
    .image{
        margin-right: -61px;
        margin-top: -52px;
    }
}