.shadow{
    position: absolute;
    left: -14px;
    top: -20px;
    z-index: 10;
}

.light{
    position: absolute;
    left: -25px;
    top: -20px;
    z-index: 8;
}

.islands{
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: 9;
}

.image{
    margin-right: 71px;
    margin-top: -14px;
}

.card{
    margin-left: 1105px;
    margin-top: 160px;
}

.lamp{
    position: absolute;
    background: url('../../../../../images/Card3Images/lamp.png'), 50% / cover no-repeat;
    width: 72px;
    height: 79px;
    left: 62px;
    top: 6px;
    z-index: 10;
}

.keyboard{
    position: absolute;
    background: url('../../../../../images/Card3Images/keyboard.png'), 50% / cover no-repeat;
    width: 126px;
    height: 110px;
    left: 131px;
    top: 69px;
    z-index: 10;
}

.gear{
    position: absolute;
    background: url('../../../../../images/Card3Images/gear.png'), 50% / cover no-repeat;
    width: 113px;
    height: 103px;
    left: 23px;
    top: 141px;
    z-index: 10;
}

.stop{
    position: absolute;
    background: url('../../../../../images/Card3Images/stop.png'), 50% / cover no-repeat;
    width: 68px;
    height: 69px;
    left: 139px;
    top: 137px;
    z-index: 10;
}

.button{
    background: #FB2B0F;
}