.text{
    position: relative;
    z-index: 8;
    margin-top: 176px;
    margin-bottom: 66px;
    color: #FFF;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 1200px){
    .text{
        margin-top: 146px;
        margin-bottom: 66px;
        font-size: 48px;
        font-weight: 900;
    }
}

@media (max-width: 900px){
    .text{
        margin-top: 106px;
        margin-bottom: 40px;
        font-size: 44px;
        font-weight: 900;
    }
}

@media (max-width: 600px){
    .text{
        margin-top: 80px;
        margin-bottom: 30px;
        font-size: 38px;
        font-weight: 900;
    }
}

@media (max-width: 500px){
    .text{
        margin-top: 80px;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 900;
    }
}

@media (max-width: 400px){
    .text{
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 26px;
        font-weight: 900;
    }
}