.shadow{
    position: absolute;
    left: -29px;
    top: -28px;
    z-index: 10;
}

.light{
    position: absolute;
    left: -20px;
    top: -20px;
    z-index: 8;
}

.islands{
    position: absolute;
    left: -1px;
    top: 0px;
    z-index: 9;
}

.image{
    margin-right: 100px;
    margin-top: 8px;
}

.card{
    margin-left: 26.3vw;
    margin-top: 130px;
}

.glass{
    position: absolute;
    background: url('../../../../../images/Card5Images/glass.png'), 50% / cover no-repeat;
    width: 98px;
    height: 104px;
    left: 51px;
    top: 27px;
    z-index: 10;
}

.document{
    position: absolute;
    background: url('../../../../../images/Card5Images/document.png'), 50% / cover no-repeat;
    width: 97px;
    height: 108px;
    left: 88px;
    top: -12px;
    z-index: 10;
}

.chain{
    position: absolute;
    background: url('../../../../../images/Card5Images/chain.png'), 50% / cover no-repeat;
    width: 74px;
    height: 73px;
    left: 82px;
    top: 121px;
    z-index: 10;
}

.stop{
    position: absolute;
    background: url('../../../../../images/Card3Images/stop.png'), 50% / cover no-repeat;
    width: 68px;
    height: 69px;
    left: 139px;
    top: 137px;
    z-index: 10;
}

.button{
    background: #FB2B0F;
}

.subtitle{
    width: 303px;
}

@media (max-width: 1600px){
    .card{
        margin-left: 16.3vw;
        margin-top: 130px;
    }
    .image{
        margin-right: 35px;
        margin-top: 16px;
    }
}

@media (max-width: 1300px){
    .card{
        margin-left: 10.3vw;
        margin-top: 130px;
    }
    .image{
        margin-right: 22px;
        margin-top: 16px;
    }
}

@media (max-width: 1024px){
    .card{
        margin-left: 1.3vw;
        margin-top: 80px;
    }
    .image{
        margin-right: 10px;
        margin-top: -6px;
    }
}

@media (max-width: 768px){
    .card{
        margin-left: 9.5vw;
    }
    .image{
        margin-right: 68px;
        margin-top: -23px;
    }
}

@media (max-width: 645px){
    .card{
        margin-left: -25px;
    }
    .image{
        margin-right: -14px;
        margin-top: -23px;
    }
}

@media (max-width: 425px){
    .card{
        margin-left: -42px;
        margin-top: 0px;
    }
    .image{
        margin-right: -26px;
        margin-top: -32px;
    }
}

@media (max-width: 375px){
    .card{
        margin-left: -55px;
        margin-top: -25px;
    }
    .image{
        margin-right: -35px;
        margin-top: -34px;
    }
}