@import "nullstyle.scss";

@font-face {
	font-family: 'Gilroy-Bold';
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.eot");
	src: local("O"), url("../fonts/Gilroy-Bold.woff") format("woff"), 
			url("../fonts/Gilroy-Bold.ttf") format("truetype"), 
			url("../fonts/Gilroy-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Regular';
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.eot");
	src: local("O"), url("../fonts/Gilroy-Regular.woff") format("woff"), 
			url("../fonts/Gilroy-Regular.ttf") format("truetype"), 
			url("../fonts/Gilroy-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
.body{
    width: 100%;
    margin: auto;
    position: inherit;
    left: 0;
    top: 0;
}
.head {
    background: url(/img/Background1.jpg) center/100% auto no-repeat;
    height: 750px;
    text-align: center;
    &__title {
        font-family: Gilroy-Bold;
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 110%;
        color: white;
        max-width: 579px;
        margin: auto;
        padding: 232px 0 12px 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__text {
        font-family: Gilroy-Regular;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: white;
        max-width: 769px;
        margin: auto;
        opacity: 0.8;
    }

    &__button {
        
        margin: 20px auto 0 auto;

    }
}
.form-button{
    width: 300px;
    height: 70px;
    background: #41D7EC;
    border-radius: 20px;
    &:hover{
        background: #3cc7da;
    }
    &:active{
        background: #3cc7da;
        transform: scale(0.98);
    }
}
.offer {
    background: #F5F5F5;
    &__list {
        padding-top: 156px;
        justify-content: space-around;  
        display: flex;
        flex-direction: column;
        flex: 1 1 auto
    }
}
.item-offer {
    display: flex;
    max-width: 1160px;
    margin: 0 auto 70px auto;
    &__text {
        flex: 1 1 auto;
    }

    &__title {
        max-width: 571px;
        margin: 33px 0 7px 0;
    }

    &__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        max-width: 491px;
    }

    &__image {
        flex: 0 0 560px;
    }
}

.title-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
}

.service {
    background-color: #F4FDFE;
    height: 1085px;
    &__title {
        max-width: 560px;
        padding-top: 147px;
    }

    &__list {
        margin: 57px -8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.block {
    max-width: 1160px;
    margin: auto;
}
.item-service {
    flex: 0 1 50%;
    margin: 0 5px;
    border: 1px solid #41D7EC;
    margin-bottom: 43px;
    height: 270px;
    max-width: 560px;
    position: relative;
    overflow: hidden;
    &__title {
        margin: 81px 0px 0px 60px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
    }

    &__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        width: 360px;
        margin: 3px 0px 0px 60px;
    }

    &__image {
        position: absolute;
        right: 0px;
        bottom: 10px;
    }
}
.map {
    background: #F5F5F5;
    height: 800px;
    &__colums {
        padding-top: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__image {
        flex: 0 0 560px;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__title {
        margin: 0 0 0 40px;
    }

    &__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        width: 360px;
        margin: 4px 0px 0px 40px;
    }

    &__button {
        margin: 17px 0px 0px 40px;
    }
}

@media (max-width: 1440px) {
    .head {
        background: url(/img/Background1.jpg) center no-repeat;
    }
    .block{
        max-width: 1150px;
    }
}

@media (max-width: 1320px) {
    .block{
        max-width: 1150px;
    }
    .item-offer__image{
        flex: 0 0 420px;
    }
    .item-offer__image img{
        width: 420px;
    }
    .title-text{
        font-size: 28px;
    }
    .item-offer__title{
        padding-left: 60px;
    }
    .item-offer__subtitle{
        padding-left: 60px;
    }
}

@media (max-width: 1200px) {
    .head {
        background: url(/img/Background1.jpg) center
    }
    .block{
        max-width: 720px;
    }
    .head__title{
        font-size: 44px;
    }
    .head__text{
        font-size: 12px;
        max-width: 472px;
    }
    .form-button{
        width: 200px;
        height: 50px;
    }
    .item-offer__text{
        margin-left: -101px;
        flex: 0 0 73%;
    }
    .item-offer__subtitle{
        max-width: 450px;
    }
    .map__image img{
        width: 444px;
    }
    .map__image{
        flex: 0 0 444px;
    }
    .map__text{
        padding-top: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .map__title{
        margin: 0 auto;
        
    }
    .map__button{
        margin: 0 auto;
    }
    .map__subtitle{
        margin: 10px auto;
    }
    .map__colums{
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-service {
        flex: 0 1 80%;
    }
    .service__title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .service__list{
        justify-content: center;
    }
    .service{
        height: 1540px;
    }
    .item-offer__image{
        flex: 0 0 360px;
    }
    .item-offer__image img{
        width: 360px;
    }
}

@media (max-width: 924px) {
    .head {
        background: url(/img/Background1.jpg) center no-repeat;
    }
    .block{
        max-width: 720px;
    }
    .item-offer__text{
        margin-left: -24px;
        flex: 0 0 50%;
    }
    .item-offer__subtitle{
        max-width: 450px;
    }
    .item-offer__title{
        margin-top: 10px;
    }
}

@media (max-width: 760px) {
    .head {
        background: url(/img/Background1.jpg) center no-repeat;
    }
    .block{
        max-width: 420px;
    }
    .item-offer__text{
        margin-left: -24px;
        flex: 0 0 50%;
        text-align: center;
    }
    .item-offer__subtitle{
        max-width: 450px;
        text-align: center;
        padding-left: 14px;
    }
    .item-offer__title{
        margin-top: 10px;
        padding-left: 14px;
    }
    .item-offer{
        flex-direction: column;
        justify-content: center;
    }
    .item-offer__image{
        justify-content: center;
        text-align: center;
    }
    .item-service__image img{
        width: 50px;
        justify-content: center;
        text-align: center;
    }
    .item-service__title{
        margin-left: 10px;
    }
    .item-service__subtitle{
        margin-left: 10px;
    }
}

@media (max-width: 490px) {
    .head {
        background: url(/img/Background1.jpg) center no-repeat;
    }
    .block{
        max-width: 300px;
    }
    .service{
        height: 1640px;
    }
    .item-offer__text{
        margin-left: -24px;
        flex: 0 0 50%;
        text-align: center;
    }
    .item-offer__subtitle{
        margin: auto;
        text-align: center;
        padding: 0;
    }
    .item-offer__title{
        margin-top: 10px;
        padding: 0;
    }
    .item-offer__image{
        flex: 0 0 300px;
    }
    .item-offer__image img{
        width: 300px;
    }
    .item-offer{
        flex-direction: column;
        justify-content: center;
    }
    .map__image img{
        width: 300px;
    }
    .map__image{
        flex: 0 0 300px;
    }
    .item-service__title{
        margin: auto;
        max-width: 250px;
        padding-left: 5px;
        padding-top: 20px;
    }
    .item-service__subtitle{
        margin: auto;
        max-width: 250px;
        padding-left: 5px;
    }
}

@media (max-width: 374px) {
    .title-text{
        font-size: 24px;
    }
    .map__subtitle{
        max-width: 300px;
    }
    .head__title{
        font-size: 40px;
    }
    .head__text{
        max-width: 300px;
    }
    .item-offer__subtitle{
        padding-left: 20px;
    }
}

