.shadow{
    position: absolute;
    left: -10px;
    top: -15px;
    z-index: 10;
}

.light{
    position: absolute;
    left: -25px;
    top: -20px;
    z-index: 8;
}

.islands{
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: 9;
}

.image{
    margin-right: 100px;
    margin-top: 40px;
}

.card{
    margin-left: 789px;
    margin-top: 200px;
}

.phone{
    position: absolute;
    background: url('../../../../../images/Card4Images/phone.png'), 50% / cover no-repeat;
    width: 156px;
    height: 174px;
    left: 19px;
    top: -24px;
    z-index: 10;
}

.joystick{
    position: absolute;
    background: url('../../../../../images/Card4Images/joystick.png'), 50% / cover no-repeat;
    width: 126px;
    height: 104px;
    left: 156px;
    top: 113px;
    z-index: 10;
}

.bottle{
    position: absolute;
    background: url('../../../../../images/Card4Images/bottle.png'), 50% / cover no-repeat;
    width: 99px;
    height: 118px;
    left: 25px;
    top: 83px;
    z-index: 10;
}

.stop{
    position: absolute;
    background: url('../../../../../images/Card3Images/stop.png'), 50% / cover no-repeat;
    width: 68px;
    height: 69px;
    left: 139px;
    top: 137px;
    z-index: 10;
}

.button{
    background: #FB2B0F;
}

.subtitle{
    width: 303px;
}